.kartya{
    border: 1px black solid;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    margin: 10px;
}

.kartya img{
    width: 200px;
    padding: 10px;
}

.kartyatarto{
    display: flex;
    margin: auto;
    width: 30%;
    flex-wrap: wrap;
}

.kivalasztott{
    box-shadow: 10px 10px;
    margin: 0px 20px 20px 0px;
    width: 350px;
}

.kiskep img{
    width: 150px;
    height: 150px;
}

.kiemelt{
    width: fit-content;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
}